{% extends "layout.html" %}
{% block title %}- Custom search{% endblock %}
{% block search_input %}
<form name="custom" action="/custom" method="get">
Search: <input autocomplete="off" id="autocomplete" type="text" name="q" value="{{query}}" class="autocomplete-nominatim" onchange="this.form.submit()" autofocus="autofocus" /> in <select name="index" onchange="this.form.submit()">
{% for opt in indices %}
  {% set selected=" selected=\"selected\"" if (index == opt) else "" %}
  <option value="{{opt}}"{{selected}}>{{opt}}</option>
{% endfor %}
</select><br/>
<input type="hidden" name="format" value="html" />
<input class="btn" type="submit" value="Search custom" />
</form>
{% endblock %}
{% block result %}
<hr>
{% if rc %}
<p>Found <b>{{ result | length }}</b> results for <i>"{{query}}"</i> in <i>{{index}}</i>:</p>
<table class="entries" width="100%" border="1" style="border-collapse: collapse;">
  <tr>
    <th></th>
    <th>name</th>
    <th>class</th>
    <th>type</th>
    <th>bounding box</th>
    <th>lat, lon</th>
  </tr>
  {% for row in result %}
  <tr>
    <td>{{ loop.index }}</td>
    {% for col in ('name', 'class', 'type', 'bbox', 'latlon') %}
    <td>
    {% if col in row %}
      {{ row[col] }}
    {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Found 0 results for <i>"{{query}}"</i> in <i>{{index}}</i>:</p>
<pre>
  {{ result | nl2br | safe}}
</pre>
{% endif %}
{% endblock %}
{% block script %}
function load() {
    // new kt.Nominatim(document.getElementById('autocomplete'), '/search');
}
{% endblock %}